# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# Certificates (will be generated locally)
mqtt/certs/*.key
mqtt/certs/*.crt

# MQTT Security
mqtt/passwd
mqtt/*.conf~
mqtt/certs/*.csr
mqtt/certs/*.srl
